extends layout
block content
	.row.list-group-item
		form(method="POST").col-md-4.col-md-offset-4
			.form-group.col-md-9
				input(type='hidden', name='_csrf', value=_csrf)
				input(placeholder="search", type="text", name="catTitle", class="form-control tt-input link-search", autocomplete="off", spellcheck="false", dir="auto")
			button(class="btn btn-default btn-danger col-md-3") Search
	.row
	if categories
		each category in categories
			.row.list-group-item
				a(href="/category/"+category._id)
					=category.title
				br
				=category.description
	else
		| 