extends layout
block content
	.row.list-group-item
		.form-group.col-md-4
			input(placeholder="search", type="text", class="form-control")
		button(class="btn btn-default") Submit
	.row
	if categories
		each category in categories
			.row.list-group-item
				a(href="/category/"+category._id)
					=category.title
				br
				=category.description
	else
		h3 No categories found!
