extends layout
block content
	.row.list-group-item
		h3 Filters & Search Here
	if categories
		each category in categories
			.row.list-group-item
				a(href="/category/"+category._id)
					=category.title
				br
				=category.description
	else
		h3 No categories found!
