extends layout

block content
  div.row.well
    div.col-md-8.col-md-offset-2
      h3 Learn anything from the internet, this is where learning begins!
  div.row.categories
    h3 Latest Categories
    each category in categories
      div.col-md-4
        button.btn.btn-warning
          h3 
            =category.title
 // else
 //   div.row
 //     div.col-md-2.col-md-offset-5
 //       a(href='/login') 
 //         button.btn.btn-primary Login to begin learning